<div class="social">
    <div class="icon">
        <a href="https://www.facebook.com/BlendersEyewear.es" target="_blank">
            {% image '@eDemyLinkBundle/Resources/public/images/face.png' %}
                <img style="max-width: 1.5em" src="{{ asset_url }}" alt="BlendersEyewear facebook" />
            {% endimage %}
        </a>
    </div>
    <div class="icon">
        <a href="http://instagram.com/blenderseyeweares" target="_blank">
            {% image '@eDemyLinkBundle/Resources/public/images/instagram.png' %}
                <img style="max-width: 1.5em" src="{{ asset_url }}" alt="BlendersEyewear instagram" />
            {% endimage %}
        </a>
    </div>                    
</div>
 
